        <!-- slider section -->
<section class=" slider_section position-relative">
    <div class="side_heading">
        <h5>
            <span style="color:cornflowerblue">S</span>
            <span style="color:cornflowerblue">c</span>
            <span style="color:cornflowerblue">o</span>
            <span style="color:cornflowerblue">p</span>
            <span style="color:cornflowerblue">e</span>
            &nbsp;
            <span style="color:gray">E</span>
            <span style="color:gray">R</span>
            <span style="color:gray">P</span>
        </h5>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-4 offset-md-1">
                <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
                            01
                        </li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1">
                            02
                        </li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2">
                            03
                        </li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3">
                            04
                        </li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="img-box b-1">
                                <img asp-append-version="true" src="~/homelayout/images/slider-img.png" alt="" />
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="img-box b-2">
                                <img asp-append-version="true" src="~/homelayout/images/hot-1.png" alt="" />
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="img-box b-3">
                                <img asp-append-version="true" src="~/homelayout/images/hot-2.png" alt="" />
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="img-box b-4">
                                <img asp-append-version="true" src="~/homelayout/images/img1.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="carousel_btn-box">
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class=" col-md-5 offset-md-1">
                <div class="detail-box">
                    <h1>
                        SCOPE <br>
                        <span style="color:cornflowerblue">Cloud</span> ERP
                    </h1>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words
                    </p>

                    <div class="btn-box">
                        <a asp-area="Home" asp-controller="Home" asp-action="ContactUs" class="btn-1">
                            Contact Us
                        </a>
                        <a asp-area="Identity" asp-controller="Account" asp-action="Login" class="btn-2">
                            Login
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- end slider section -->
