  <!-- contact section -->

<section class="contact_section layout_padding">
    <div class="container">
        <h2>
            Get In touch
        </h2>
        <div class="row">
            <div class="col-md-7">
                <div class="form_container">
                    <form action="">
                        <input type="text" placeholder="Name">
                        <input type="text" placeholder="Phone number">
                        <input type="email" placeholder="Email">
                        <input type="text" placeholder="Message" class="message_input">
                        <button>
                            Send
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-md-5">
                <div class="contact_box">
                    <a href="">
                        <div class="img-box">
                            <img asp-append-version="true" src="~/homelayout/images/location.png" alt="">
                        </div>
                        <h6>
                            Gb road 123 london Uk
                        </h6>
                    </a>
                    <a href="">
                        <div class="img-box">
                            <img asp-append-version="true" src="~/homelayout/images/call.png" alt="">
                        </div>
                        <h6>
                            (+01) 123456789012
                        </h6>
                    </a>
                    <a href="">
                        <div class="img-box">
                            <img asp-append-version="true" src="~/homelayout/images/envelope.png" alt="">
                        </div>
                        <h6>
                            demo@gmail.com
                        </h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end contact section -->
<script>
    document.getElementById("HomeBody").classList.add("sub_page");
</script>
