
<!-- dish section -->

<section class="dish_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="dish_container">
                    <div class="box">
                        <img asp-append-version="true" src="~/homelayout/images/dish.jpg" alt="">
                    </div>
                    <div class="box">
                        <img asp-append-version="true" src="~/homelayout/images/dish.jpg" alt="">
                    </div>
                    <div class="box">
                        <img asp-append-version="true" src="~/homelayout/images/dish.jpg" alt="">
                    </div>
                    <div class="box">
                        <img asp-append-version="true" src="~/homelayout/images/dish.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <hr>
                        <h2>
                            Features <br>
                            Modules <br>
                            More...
                        </h2>
                    </div>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                        in
                        some form, by injected humour, or randomised words
                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end dish section -->
<!-- hot section -->

<section class="hot_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                What's New
            </h2>
            <hr>
        </div>
        <p>
            There are many variations of passages of Lorem Ipsum available, but the majority
        </p>
    </div>
    <div class="carousel_container">
        <div class="container">
            <div class="carousel-wrap ">
                <div class="owl-carousel">
                    <div class="item">
                        <div class="box">
                            <div class="img-box">
                                <img asp-append-version="true" src="~/homelayout/images/hot-1.png" />
                            </div>
                            <div class="detail-box">
                                <h4>
                                    $30
                                </h4>
                                <p>
                                    There are many variations of passages of Lorem Ipsum available,
                                </p>
                                <a href="">
                                    Order Now
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <div class="img-box">
                                <img asp-append-version="true" src="~/homelayout/images/hot-2.png" />
                            </div>
                            <div class="detail-box">
                                <h4>
                                    $30
                                </h4>
                                <p>
                                    There are many variations of passages of Lorem Ipsum available,
                                </p>
                                <a href="">
                                    Order Now
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <div class="img-box">
                                <img asp-append-version="true" src="~/homelayout/images/img1.jpg" />
                            </div>
                            <div class="detail-box">
                                <h4>
                                    $30
                                </h4>
                                <p>
                                    There are many variations of passages of Lorem Ipsum available,
                                </p>
                                <a href="">
                                    Order Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end hot section -->
<!-- app section -->
<section class="app_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="img-box">
                    <img asp-append-version="true" src="~/homelayout/images/man-with-phone.png" alt="">
                </div>
            </div>
            <div class="col-md-6 offset-md-2">
                <div class="detail-box">
                    <h2>
                        <span> 100% </span> off On every food
                        download now our app
                    </h2>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                        in
                        some form, by
                    </p>
                    <div class="btn-box">
                        <a href="">
                            <img asp-append-version="true" src="~/homelayout/images/app-store.png" alt="">
                        </a>
                        <a href="">
                            <img asp-append-version="true" src="~/homelayout/images/play-store.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.getElementById("HomeBody").classList.add("sub_page");
</script>

