<!-- subscribe section -->

<section class="subscribe_section" style="margin-top:100px">
    <div class="container">
        <form action="">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <label for="subEmail">
                        Our Newsletter
                    </label>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="box">
                        <input type="email" placeholder="Enter your email" id="subEmail">
                        <button>
                            Subscribe
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- end contact section -->
<script>
    document.getElementById("HomeBody").classList.add("sub_page");
</script>
