<li class="treeview" id="GeneralLi">
    <a href="#">
        <i class="fa fa-files-o"></i>
        <span>General Module</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li id="Language-GeneralModule">
            <a Partial_Nav_Link href='#@Url.Action("Index", new {Controller= "Language",Area="GeneralModule"})'><i class="fa fa-circle-o"></i> Languages</a>
        </li>
        <li id="Currency-GeneralModule">
            <a Partial_Nav_Link href='#@Url.Action("Index", new {Controller= "Currency",Area="GeneralModule"})'><i class="fa fa-circle-o"></i> Currencies</a>
        </li>

    </ul>
</li>
