<div class="sticky-container">
    <ul class="sticky">
        <li id="newRecordLi" >
            <a href="#" id="InsertNewRecord" data-toggle="modal" data-target="#modal-default"><i class="fa fa-file"></i></a>
        </li>
        <li style="display:none" id="saveLi">
            <a href="#" id="SaveRecord"> <i class="fa fa-save"></i> </a>
        </li>
        <li style="display:none" id="cancelLi">
            <a href="#" id="CancelRecord" data-toggle="modal" data-target="#modal-default"><i class="fa fa-close"></i> </a>
        </li>
    </ul>
</div>